body {
	margin: 0;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 600px;

	img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 600px;
		z-index: -1;
	}

	h2 {
		color: #ffd15b;
		font-family: "Anton";
		font-size: 44px;
		width: 50%;
	}

	.search-zone {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 75%;
		position: relative;

		input {
			width: 100%;
			border: none;
			padding: 20px;
			border-radius: 11px;
		}

		#search-button {
			position: absolute;
			right: 1%;
			padding: 20px 10px;
			color: #ffffff;
			background-color: #1b1b1b;
			border-radius: 10px;
			transition: all 300ms ease-in-out;

			&:hover {
				background-color: #ffd15b;
				color: #1b1b1b;
				transition: all 300ms ease-in-out;
			}
		}
	}
}

main {
	width: 100%;
	background-color: #ededed;

	.filters {
		display: flex;
		flex-direction: row;
		padding-top: 20px;
		background-color: #ededed;
		margin-left: 3%;

		.filter-menu {
			display: flex;
			flex-direction: column;
			background-color: #ffffff;
			border-radius: 11px;
			width: 200px;
			position: relative;
		}

		.filter-title {
			padding: 17px;
			color: #1b1b1b;
			display: flex;
			justify-content: space-between;
		}

		.hidden-element-list {
			height: 0px;
			overflow: hidden;
		}

		.showed-element-list {
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: scroll;
			color: var(--Black, #1b1b1b);
			font-family: "Manrope";
			font-size: 14px;
			z-index: 99;
			position: absolute;
			background-color: #ffffff;
			border-bottom-left-radius: 11px;
			border-bottom-right-radius: 11px;
			top: 45px;

			#search-ingredient {
				width: 80%;
				height: 35px;
				border-radius: 2px;
				margin-left: 8%;
				border: 1px solid var(--Light-Grey, #c6c6c6);

				&:focus {
					outline: none;
				}
			}

			.filter-element {
				margin-bottom: 13px;
				padding-left: 16px;
			}

			.filter-element-selected {
				background: #ffd15b;
				padding: 10px 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.quit-selected-choice {
					display: none;
				}

				&:hover {
					color: #000000;
					font-weight: 500;

					.quit-selected-choice {
						display: block;
					}
				}
			}

			.selected-options {
				display: flex;
				flex-direction: column;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.filter-ingredient-list {
				display: flex;
				flex-direction: column;
				height: 200px;
				overflow: scroll;
			}
		}
	}

	.current-filters {
		display: flex;
		flex-direction: row;
		margin-left: 3%;
		margin-top: 10px;
		flex-wrap: wrap;
		justify-content: flex-start;

		.current-filter-selected {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 200px;
			background-color: #ffd15b;
			color: #1b1b1b;
			padding: 17px 18px;
			border-radius: 10px;
			margin-right: 20px;
		}
	}

	.recipes-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 50px;

		.recipe-card {
			width: 25%;
			margin: 3%;
			height: 700px;
			display: flex;
			flex-direction: column;
			background-color: #fff;
			border-radius: 21px;
			font-family: "Manrope";
			color: #1b1b1b;
			position: relative;

			.time {
				position: absolute;
				border-radius: 14px;
				background: var(--Yellow, #ffd15b);
				padding: 5px 10px;
				top: 3%;
				right: 5%;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 33%;
				border-top-right-radius: 21px;
				border-top-left-radius: 21px;
			}

			h3 {
				margin: 15px;
				color: #000;
				font-family: Anton;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}

			.recipe {
				margin: 15px;
				height: 55%;

				h4 {
					color: var(--Grey, #7a7a7a);
					font-size: 12px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 1.08px;
					text-transform: uppercase;
				}

				p {
					height: 150px;
					overflow-y: scroll;
				}

				.ingredients {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					height: 150px;
					overflow-y: scroll;

					.ingredient {
						width: 150px;
						margin: 5px;

						h5 {
							margin: 0;
							font-size: 14px;
						}

						.quantity {
							color: var(--Grey, #7a7a7a);
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
